<div class="thumb-row">
  <a href="#">
    <img src="http://www.placehold.it/300" alt="" class="thumb-row__img" />
  </a>
  <a href="#">
    <img src="http://www.placehold.it/300" alt="" class="thumb-row__img" />
  </a>
  <a href="#">
    <img src="http://www.placehold.it/300" alt="" class="thumb-row__img" />
  </a>

</div>
